<div class="container d-flex justify-content-center mt-5">
    <div class="row">
            <div class="card p-5">
                <div class="row">
                    <div class="col-6">
                        <h4>Escríbenos</h4>
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="asunto">Asunto</label>
                                <input type="text" class="form-control" id="asunto" placeholder="Asunto">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="mensaje">Mensaje</label>
                                <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <h4>Oficinas</h4><br>
                        <address>
                            Carlos B. Zetina No 80, Parque Industrial Xalostoc, Ecatepec, Edo. de México, 55348<br><br>
                            Conmutador: (55) 5747 45 45 y (55) 4749 45 45<br><br>
                            Atención a Clientes: (55) 5747 45 46<br><br>
                        </address>
                    </div>
                </div>
            </div>
    </div>
</div>
